#page2_services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--default-color);
    font-family: var(--default-font);
    background-color:#f5f6f8;
    padding: 60px 0;
    scroll-margin-top: 88px;
    overflow: clip;
    width: 100%;
}

.page2_services_title{
    padding: 0 0 20px;
    margin: 0 0 20px;
    text-align: center;
}
.page2_services_title >h3::before,.page2_services_title >h3::after{
    content: "";
    position: absolute; 
    left: 0;
    right: 0;
    margin: auto;
}
.page2_services_title >h3::before{
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, var(--default-color), transparent 60%);
    bottom: 1px;
}
.page2_services_title > h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--heading-color);
    font-family: var(--heading-font);
}
.page2_services_title >h3::after{
    width: 80px;
    height: 3px;
    background: #47b2e4;
    bottom: 0px;
}

.page2_services_title > span{
    font-size: 16px;
}

.page2_services_body{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
    max-height: 80%;
    max-width: 80%;
    margin: auto;

}
.page2_services_type{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--background-color);
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    padding: 0 12px;
    margin: 24px 0 0 0;
    transition: all ease-in-out 0.4s;
    height: 100%;
    left: 0;
    right: 0;
    transition: transform 0.5s ease;
}
.page2_services_type_inner{
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    height: 100%;
}
.page2_services_type_inner h4 a {
    text-decoration: none;
    color: var(--heading-color); 
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}
.page2_services_type_inner h4 a:hover {
    color: #47b2e4; 
    text-decoration: none; 
}
.bi{
    fill:#47b2e4;
    width: 40px;
    height: 40px;   
    margin-bottom: 15px;

}
.page2_services_type_inner > h4{
    color: var(--heading-color);
    transition: ease-in-out 0.3s;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
    height: auto;
    width: auto;
}

.page2_services_type_inner > p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: start;
}

.page2_services_type:hover .page2_services_type_inner >h4{
    color: #47b2e4;
}

.page2_services_type:hover{
    transform: translateY(-15px);
}


@media (min-width: 1200px) {
    #page2_services{
        max-width: 100vw;
    }
}

@media ((min-width: 992px) and (max-width:1200px)) { 
    #page2_service{
        max-width: 960px;
    }
}

@media (min-width: 768px) { 
    #page2_service {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    #page2_service{
        max-width: 540px;
    }
} 

@media (max-width: 992px) { 
    .page2_services_body{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 576px) { 
    .page2_services_body{
        grid-template-columns: repeat(1,1fr);
    }
}
