@import url(./root.css);
@import url(./reset.css);

:root {
    --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #37517e; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #47b2e4; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #ffffff;  /* The default color of the main navmenu links */
    --nav-hover-color: #47b2e4; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #444444; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #47b2e4; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */

.light-background {
    --background-color: #f5f6f8;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #37517e;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #4668a2;
    --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}
#page5{
    background-color: var(--bs-gray-300);
}


/* FAQ section */
.FAQ{
    width: 100%;
    padding: 40px 60px 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: var(--heading-font);
    font-size: calc(1.325rem + .9vw);
}
.title{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    color: var(--heading-color);
}
.title::before{
    content: '';
    display:inline-block;
    position: absolute;
    top: 60px;
    width: 160px;
    height: 2px;
    background-color: var(--bs-gray-400);
}
.title::after{
    content: '';
    display:inline-block;
    position: absolute;
    top: 59px;
    width: 80px;
    height: 4px;
    background-color: var(--accent-color);
}
/* ------------------------------------------------------ */
.subtitle p{
    font-family: var(--default-font);
    font-size: 16px;
    text-align: center;
    padding-inline: 100px;
    padding-bottom: 60px;
    color: var(--bs-gray-600);
}
/* FAQ__container */
.FAQ__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin-top: 10px;
}
.FAQ__container_box{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 83.3333%;
    margin-bottom: 20px;
}   
.FAQ__container_box-element_top{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.FAQ__container_box-element_top .top-left{
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.FAQ__container_box-element_top .top-left .icon-quesion{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.FAQ__container_box-element_top .top-left .icon-quesion svg{
    fill: var(--accent-color);
}


.specific_label svg{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 40px;
}

.icon-default{
    fill: black;
}
.icon-checked {
    display: none; /* 체크 상태에서 숨김 */
}

/* 체크 상태: 체크된 SVG를 표시하고 기본 SVG 숨김 */
#specific:checked ~ .specific_label .icon-default {
    display: none;
}

#specific:checked ~ .specific_label .icon-checked {
    display: block;
    fill: #47b2e4; /* 체크된 상태에서 색상 변경 */
    transition: fill 0.3s ease;
}
#specific:checked{
    display: none;
}
#specific:checked ~ .specific_label{
    display: block;
}
.specific__info{
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}
#specific:checked ~ .specific__info{
    display: block;
}
#specific:checked ~ .FAQ__container_box-element_top .top-left :nth-child(2){
    color: var(--accent-color);
}
.FAQ__container_box-element_top .top-left :nth-child(2):hover{
    color: var(--accent-color);
}
/* -------------------------------- */
.CONTACT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contcact_wrap{
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contcact_wrap .info_wrap{
    width: 41.6667%;
    flex: 0 0 auto;
}
.contcact_wrap .form_wrap{
    width: 58.3333%;
    flex: 0 0 auto;
}